{% extends "base.html" %}

{% block title %}List of Trains{% endblock  %}

{% block content %}
    <h1>List of Trains</h1>
    <div class="row">
        <div class="col-md-8 mx-auto my-2">
            <table class="table table-striped">
                <tr>
                    <th>Number</th>
                    <th>City From</th>
                    <th>City To</th>
                    <th>Time Travel</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            {% for ob in page_obj %}
                <tr>
                    <td><a href="{% url 'train_detail' pk=ob.pk %}">{{ob.name}}</a></td>
                    <td>{{ob.city_from}}</td>
                    <td>{{ob.city_to}}</td>
                    <td>{{ob.travel_time}}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                   
                </tr>
                
            {% endfor %}
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
        <span aria-hidden="true">&laquo;</span>
      </a>
        {% endif %}
      
    </li>
    {% for page in page_obj.paginator.page_range %}
        
        <li class="page-item {% if page == page_obj.number %} active {% endif %}"><a class="page-link" href="?page={{page}}">{{page}}</a></li>  
    {% endfor %}
    
    
    
    <li class="page-item">
        {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span></a>
        {% endif %}
    </li>
    
  
            
        
  </ul>
</nav>
   
  
    
{% endblock content %}