{% url 'cities' as cities_url %}
{% url 'trains' as trains_url %}
{% url 'city_add' as city_add %}
{% url 'train_add' as train_add %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <title>{% block title %}{% endblock  %}</title>


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light container" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'home' %}">Find Route</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav {% if request.path == cities_url%}active{% endif %}">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'cities' %}">Cities</a>
        </li>
        <li class="nav-item {% if request.path == trains_url%}active{% endif %}">
          <a class="nav-link" href="{% url 'trains' %}">Trains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        
        <li class="nav-item dropdown {% if request.path == city_add or request.path == train_add %} active {% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'city_add' %}">New City</a></li>
            <li><a class="dropdown-item" href="{% url 'train_add' %}">New Train</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
   <div class="container">
     <div class="row">
       <div class="col-md-8 mx-auto my-4">
         {% if messages %}

       {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
           {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% else %} 
          <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
       {% endif %}
        {% endfor %}
       {% endif %}
       </div>
     </div>
   </div>
    <div class="container">
    {% block content %}{% endblock  %}
    </div>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    

    <script>
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
    $('.js-example-basic-multiple').select2();
});
    </script>
  </body>
</html>